body {
    text-align: center;
    background-color: #f3f3f3;
}
.c{
    font-size: 45px;
    color: #815a2b;
}
/*.r{
    font-size: 45px;
    color: silver;
}
.sr{
    font-size: 45px;
    margin: auto;
    color: gold;
}
.ssr {
    font-size: 45px;
    color: red;
}*/
.result{
    font-size: 45px;
}

.box {
    /* 子要素のタイトルを aboslute 配置するため必要 */
    position: relative;
}
.box .box_imageLeft {
    width: 20%;
    position: absolute;
    left: 0;
}
.box .box_imageRight {
    width: 20%;
    position: absolute;
    right: 0;
}

/*.hidden{
    display: none;
}*/
/*.korokoro {
    width: 20%;
    height: 20%;
}*/